* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: thistle;
}

.app {
    background-color: white;
    border: solid;
    border-radius: 8px;
    width: 300px;
    height: 350px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: dotted;
}
.conteudo-formulario {
    display: inline-block;
    text-align: center;
}
button {
    padding: 40px;
    background-color: thistle;
    border-radius: 8px;
    font-style: italic ;
    font-weight: bold;
    width: 100%;
    border-style: none;
}


input {
    height: 100px;
    border-radius: 8px;
    font-style: italic ;
    font-weight: bold;
    width: 100%;
    border-style: none;
}

#resultado-moedas {
    display: flex;
    justify-content: space-between;
}
